/*
 * OneDark colors
 *
 * black: 282c34
 * red: e06c75
 * green: 98c379
 * yellow: e5c07b
 * blue: 61afef
 * magenta: c678dd
 * aqua: 56b6c2
 * grey: abb2bf
 */

* {
	color: white;
	font-family: "JetBrains Mono";
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
	background-color: #282c34;
}

.header {
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.header, .header-nav {
	flex-grow: 1;
	flex-wrap: wrap
}

.gitserv-text {
	padding: 10% 0;	
}

.header-nav {
	list-style: none;
	display: flex;
	align-items: center;
}

.header-nav-item {
	float: left;
}

a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.header-text:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #61afef;
  transform: scaleX(0);
}
.header-text:hover:before {
  transform: scaleX(1);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
