/*
 * OneDark colors
 *
 * black: 282c34
 * red: e06c75
 * green: 98c379
 * yellow: e5c07b
 * blue: 61afef
 * magenta: c678dd
 * aqua: 56b6c2
 * white: abb2bf
 */

body {
	background-color: #282c34;
}

.header {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
}

.gitserv-svg {
	float: left;
}
